<div class="header-container">
  <h1 class="header-container__logo">Rick & Morty</h1>
  <div class="header-container__navbar">
    <div class="header-container__navbar__nav-item">
      <a href="/">Home</a>
    </div>
    <div class="header-container__navbar__nav-item">
      <a href="#introduction">Sobre</a>
    </div>
    <div class="header-container__navbar__nav-item">
      <a href="#search">Pesquisar</a>
    </div>
  </div>
</div>

<div class="introduction-container" id="introduction">
  <div class="introduction-container__item">
    <h1 class="animated-text">Saiba mais sobre os <span>personagens</span> de Rick & Morty</h1>
    <p class="animated-text">A API utilizada contém informações sobre todos os personagens de Rick e Morty</p>
    <a href="#search"><button type="button" class="animated-text">Iniciar</button></a>
  </div>
  <div class="introduction-container__item">
    <img src="../assets/img/rickmorty.png" class="animated-image"/>
  </div>
</div>

<div class="search-container">
  <div class="search-container__items" id="search">
    <input type="text" [(ngModel)]="inputSearchValue" placeholder="Pesquisar..."/>
    <button type="button" (click)="loadCharacters()">btn</button>
  </div>
</div>

<div class="characters-list-container">
  <div *ngFor="let character of characters">
    <div class="characters-list-container__items">
      <img src="{{ character.image }}" />
      <h1>{{ character.name }}</h1>
      <p>Status: {{ character.status }}</p>
      <p>Espécie: {{ character.species }}</p>
      <p>Gênero: {{ character.gender }}</p>
      <p>Localização: {{ character.location.name }}</p>
    </div>
  </div>
</div>
