<div class="navbar-container" [style.background-color]="navbarColor">
  <div class="navbar-container__logo">
    <a href="/"><h1>Rick & Morty</h1></a>
  </div>
  <div class="navbar-container__nav-items">
    <a href="/" class="navbar-container__nav-items__link">Home</a>
  </div>
  <div class="navbar-container__nav-items">
    <div (click)="moveToSearch()" class="navbar-container__nav-items__link">
      Pesquisar
    </div>
  </div>
</div>

<div class="introduction-container">
  <div class="introduction-container__item">
    <h1 class="introduction-container__item__animated-text-1">
      Saiba mais sobre os <span>personagens</span> de Rick & Morty
    </h1>
    <p class="introduction-container__item__animated-text-2">
      Pesquise um personagem e obtenha informações relevantes sobre ele!
    </p>
    <button
      type="button"
      class="introduction-container__item__animated-button"
      (click)="moveToSearch()"
    >
      Iniciar
    </button>
  </div>
  <div class="introduction-container__item">
    <img
      src="../assets/img/rickmorty.png"
      class="introduction-container__item__animated-image"
    />
  </div>
</div>

<div class="search-container" *ngIf="showSearchContainer">
  <div class="search-container__items">
    <input
      type="text"
      [(ngModel)]="inputSearchValue"
      (keyup.enter)="loadCharacters()"
      placeholder="Pesquisar..."
      id="inputSearch"
    />
    <button type="button" (click)="loadCharacters()">
      <fa-icon class="icon" [icon]="searchIcon"></fa-icon>
    </button>
  </div>
</div>

<div class="buttons-container" *ngIf="showButtons">
  <button (click)="previousPage()" [disabled]="page === 1">
    <fa-icon [icon]="leftArrowIcon"></fa-icon>
  </button>
  <span> Página {{ page }} </span>
  <button (click)="nextPage()">
    <fa-icon [icon]="rightArrowIcon"></fa-icon>
  </button>
</div>

<div class="characters-list-container" id="charactersList">
  <div *ngFor="let character of characters">
    <div class="characters-list-container__items">
      <img src="{{ character.image }}" />
      <h1>{{ character.name }}</h1>
      <p>Status: {{ character.status }}</p>
      <p>Espécie: {{ character.species }}</p>
      <p>Gênero: {{ character.gender }}</p>
      <p>Localização: {{ character.location.name }}</p>
    </div>
  </div>
</div>

<div (click)="scrollToTop()" class="scrollTop">
  <fa-icon class="scrollTop" [icon]="arrowIcon"></fa-icon>
</div>
