.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;

  &__navbar {
    &__nav-item {
      display: inline-block;
      padding: 0 20px;

      img {
        width: 30%;
      }

      h1 {
        font-size: 1.8rem;
      }
    }
  }
}

.introduction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &__item {
    display: inline-block;
    padding: 20px 40px;

    h1, p, a, button {
      padding: 15px;
    }

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 2vh;
    }

    button {
      padding: 15px;
      width: 125px;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 700;
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      color: #fff;
      background-color: #24b139;
      opacity: .9;
      transition: 0.3s all ease;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.search-container {
  padding: 50px;
}

.characters-list-container {
  display: flex;
  justify-content: center;

  &__items {
    padding: 15px;
  }
}
